@page "/Bonus"
@using Radzen
@using Radzen.Blazor
@using Models
@inject Controllers.ControlArticuloController ControlArticulo

<h2>CONTROL DE ARTICULOS</h2>

<RadzenDataGrid @ref="Tabla"
                AllowFiltering="true"
                AllowPaging="true"
                AllowSorting="true"
                AllowColumnResize="true"
                ColumnWidth="150px"
                Density="Density.Default"
                PageSize="5"
                Responsive="true"
                TItem="vControlArticulo"
                Data="Data"
                EmptyText="Sin registros para mostrar"
                ShowPagingSummary="true"
                PageSizeOptions=@PageSizeOptions
                PagingSummaryFormat=@PagingSummaryFormat
                PageSizeText="Registros por página"
                ClearFilterText="Borrar"
                ApplyFilterText="Aplicar"
                FilterText="Filtro"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Simple"
                Page="@(a=>DisableInsert=false)"
                PageSizeChanged="@(a=>DisableInsert=false)">

    <Columns>
        <RadzenDataGridColumn Property="@nameof(vControlArticulo.nombreArticulo)" Title="Nombre Artículo" />
        <RadzenDataGridColumn Property="@nameof(vControlArticulo.nombre)" Title="Nombre Categoría" />
        <RadzenDataGridColumn Property="@nameof(vControlArticulo.cantidad)" Title="Cantidad" />
        <RadzenDataGridColumn Property="@nameof(vControlArticulo.precio)" Title="Precio" />
        <RadzenDataGridColumn Property="@nameof(vControlArticulo.PrecioTotal)" Title="Precio Total" />
    </Columns>

</RadzenDataGrid>

<!-- RadzenCard para mostrar el total de cantidades y precios -->
<div style="display: flex; justify-content: flex-end; margin-top: 20px;">
    <RadzenCard Style="width: 200px; margin-right: 20px; padding: 10px; text-align: center; background-color: #f4f4f4; border-radius: 10px;">
        <h3 style="color: black; font-size: 16px;">Cantidad Total</h3>
        <p style="font-size: 14px; font-weight: normal; color: black;">@TotalCantidad</p>
    </RadzenCard>

    <RadzenCard Style="width: 200px; padding: 10px; text-align: center; background-color: #f4f4f4; border-radius: 10px;">
        <h3 style="color: black; font-size: 16px;">Precio Total</h3>
        <p style="font-size: 14px; font-weight: normal; color: black;">@TotalPrecio.ToString("C")</p>
    </RadzenCard>
</div>


@code {
    public RadzenDataGrid<vControlArticulo>? Tabla { get; set; }
    public List<vControlArticulo>? Data { get; set; }
    public IEnumerable<int> PageSizeOptions { get; set; } = new[] { 2, 5, 10, 100 };
    public string PagingSummaryFormat { get; set; } = "Página {0} de {1} (Total {2} Registros)";
    public bool DisableInsert { get; set; } = false;

    // Variables para los totales
    public int TotalCantidad { get; set; }
    public decimal TotalPrecio { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await cargarGrid();
        await cargarTotales();
    }

    private async Task cargarGrid()
    {
        Data = await ControlArticulo.GetControlarticulos();
        StateHasChanged();
    }

    private async Task cargarTotales()
    {
        TotalCantidad = await ControlArticulo.GetTotalCantidad();
        TotalPrecio = await ControlArticulo.GetTotalPrecio();
    }
}
